$page-container: ".container";


// basic for susy
$total-columns  : 4;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            :  8;
$desktop        : 12;

// debug
@import "layout-debug";


#{$page-container} {
  @include container($phone, $pad, $desktop);
}


