// basic for susy
$total-columns  : 4;
$column-width   : 72px;
$gutter-width   : 24px;
$grid-padding   : $gutter-width;

// add media
$phone          : $total-columns;
$pad            :  8;
$desktop        : 12;

// debug
// body {
//   @include baseline-grid-background;
// }
// .container {
//   @include susy-grid-background;

//   @include at-breakpoint($pad) {
//     @include susy-grid-background;
//   }

//   @include at-breakpoint($desktop) {
//     @include susy-grid-background;
//   }
// }

// phone
.continaer {
  @include container($phone);
}


// pad
@include at-breakpoint($pad) {
  .continaer {
    @include container($phone);
  }
}


// desktop
@include at-breakpoint($desktop) {
  .continaer {
    @include container($phone);
  }
}
