%helvetica {
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
}

body {
  @extend %helvetica;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


#{headings()} {
  @include reset-box-model;
}

a {
  @include link-colors(blue);
  @include hover-link;
}

p {
  @include trailer(1);
}
