/*
Syntax error: File to import not found or unreadable: layout-debug.
              Load paths:
                /Users/shengli/Dropbox/Projects/base-project/sass
                /Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets
                /Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets
                /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-960-plugin-0.10.4/stylesheets
                /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets
                /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-normalize-1.4.3/stylesheets
                /Users/shengli/.compass/extensions/bootstrap-sass-3.1.1/vendor/assets/stylesheets
                /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0.9/sass
                /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.3.1/scss
                Compass::SpriteImporter
                /Users/shengli/.compass/extensions/bootstrap-sass-3.1.1/vendor/assets/stylesheets
                /Users/shengli/.compass/extensions/bootstrap-sass-3.1.1/vendor/assets/stylesheets
        on line 2 of /Users/shengli/Dropbox/Projects/base-project/sass/_layout.scss
        from line 19 of /Users/shengli/Dropbox/Projects/base-project/sass/all.scss

1: /Users/shengli/Dropbox/Projects/base-project/sass/all.scss

Backtrace:
/Users/shengli/Dropbox/Projects/base-project/sass/_layout.scss:2
/Users/shengli/Dropbox/Projects/base-project/sass/all.scss:19
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:67:in `import'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:65:in `import'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:28:in `imported_file'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/import_node.rb:36:in `css_import?'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
org/jruby/RubyArray.java:2339:in `collect'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:109:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:100:in `visit'
org/jruby/RubyKernel.java:2109:in `send'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/tree/root_node.rb:20:in `render'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/engine.rb:315:in `_render'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/sass-3.2.10/lib/sass/engine.rb:262:in `render'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:168:in `compile'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:167:in `compile'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/compass_patch.rb:166:in `compile'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/compiler.rb:25:in `compile'
org/jruby/RubyKernel.java:2105:in `send'
(__FORWARDABLE__):3:in `compile'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:108:in `sass_removed'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/project_watcher.rb:92:in `sass_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/backport_from_0.13/lib/compass/watcher/watch.rb:17:in `run_callback'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/app_watcher.rb:34:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/app_watcher.rb:29:in `listen_callback'
org/jruby/RubyArray.java:1620:in `each'
file:/Applications/Fire.app/Contents/Resources/Java/fire-app.jar!/app_watcher.rb:28:in `listen_callback'
org/jruby/RubyMethod.java:133:in `call'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:212:in `on_change'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/listener.rb:221:in `initialize_adapter'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:220:in `call'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/adapter.rb:198:in `report_changes'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/adapter.rb:210:in `poll_changed_dirs'
/Applications/Fire.app/Contents/Resources/lib/ruby/jruby/listen-0.7.3/lib/listen/adapters/darwin.rb:38:in `start'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: layout-debug.\A               Load paths:\A                 /Users/shengli/Dropbox/Projects/base-project/sass\A                 /Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Applications/Fire.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets\A                 /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-960-plugin-0.10.4/stylesheets\A                 /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-h5bp-0.1.1/stylesheets\A                 /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/compass-normalize-1.4.3/stylesheets\A                 /Users/shengli/.compass/extensions/bootstrap-sass-3.1.1/vendor/assets/stylesheets\A                 /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/susy-1.0.9/sass\A                 /Applications/Fire.app/Contents/Resources/lib/ruby/compass_extensions/zurb-foundation-4.3.1/scss\A                 Compass::SpriteImporter\A                 /Users/shengli/.compass/extensions/bootstrap-sass-3.1.1/vendor/assets/stylesheets\A                 /Users/shengli/.compass/extensions/bootstrap-sass-3.1.1/vendor/assets/stylesheets\A         on line 2 of /Users/shengli/Dropbox/Projects/base-project/sass/_layout.scss\A         from line 19 of /Users/shengli/Dropbox/Projects/base-project/sass/all.scss\A \A 1: /Users/shengli/Dropbox/Projects/base-project/sass/all.scss"; }
